In [4]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT t.name, t.TotalRevenue
FROM 
(SELECT f.name,
SUM(CASE 
    WHEN m.memid = 0 THEN f.guestcost*slots
    ELSE f.membercost*slots
END) AS TotalRevenue
FROM Facilities AS f
INNER JOIN Bookings AS b
USING (facid)
INNER JOIN Members AS m
USING (memid)
GROUP BY facid
ORDER BY TotalRevenue DESC) as t
WHERE t.TotalRevenue < 1000.0 
        """
    
    
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [9]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    """/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */"""
    query1 = """ 
SELECT m.surname || " " || m.firstname AS ClientName, m1.surname || " " || m1.firstname AS Recommendation
FROM Members AS m
INNER JOIN Members AS m1 ON m1.memid = m.recommendedby
ORDER BY ClientName ASC;
        """
    
    
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader Florence', 'Stibbons Ponder')
('Baker Anne', 'Stibbons Ponder')
('Baker Timothy', 'Farrell Jemima')
('Boothe Tim', 'Rownam Tim')
('Butters Gerald', 'Smith Darren')
('Coplin Joan', 'Baker Timothy')
('Crumpet Erica', 'Smith Tracy')
('Dare Nancy', 'Joplette Janice')
('Genting Matthew', 'Butters Gerald')
('Hunt John', 'Purview Millicent')
('Jones David', 'Joplette Janice')
('Jones Douglas', 'Jones David')
('Joplette Janice', 'Smith Darren')
('Mackenzie Anna', 'Smith Darren')
('Owen Charles', 'Smith Darren')
('Pinker David', 'Farrell Jemima')
('Purview Millicent', 'Smith Tracy')
('Rumney Henrietta', 'Genting Matthew')
('Sarwin Ramnaresh', 'Bader Florence')
('Smith Jack', 'Smith Darren')
('Stibbons Ponder', 'Tracy Burton')
('Worthington-Smyth Henry', 'Smith Tracy')

In [15]:
 import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    """/* Q12: Find the facilities with their usage by member, but not guests */"""
    query1 = """ 
SELECT m.surname || " " || m.firstname AS ClientName, f.name, SUM( b.slots ) AS TotalSlots
FROM Facilities AS f
INNER JOIN Bookings AS b 
ON f.facid = b.facid
INNER JOIN Members AS m 
ON b.memid = m.memid
WHERE m.memid !=0
GROUP BY ClientName;
        """
    
    
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader Florence', 'Badminton Court', 237)
('Baker Anne', 'Tennis Court 1', 296)
('Baker Timothy', 'Tennis Court 2', 290)
('Boothe Tim', 'Tennis Court 2', 440)
('Butters Gerald', 'Tennis Court 1', 409)
('Coplin Joan', 'Snooker Table', 106)
('Crumpet Erica', 'Badminton Court', 17)
('Dare Nancy', 'Badminton Court', 267)
('Farrell David', 'Tennis Court 1', 50)
('Farrell Jemima', 'Table Tennis', 180)
('Genting Matthew', 'Massage Room 2', 131)
('Hunt John', 'Tennis Court 1', 40)
('Jones David', 'Tennis Court 2', 305)
('Jones Douglas', 'Badminton Court', 37)
('Joplette Janice', 'Massage Room 1', 326)
('Mackenzie Anna', 'Badminton Court', 231)
('Owen Charles', 'Tennis Court 1', 345)
('Pinker David', 'Snooker Table', 159)
('Purview Millicent', 'Badminton Court', 32)
('Rownam Tim', 'Massage Room 1', 660)
('Rumney Henrietta', 'Snooker Table', 38)
('Sarwin Ramnaresh', 'Tennis Court 2', 153)
('Smith Darren', 'Table Tennis', 685)
('Smith Jack', 'Massage Room 1', 219)
('Smith Tracy', 'Tennis Court 1', 435)
('Stibbons Ponder', 'Tennis Court 2', 249)
('Tracy Burton', 'Tennis Court 2', 366)
('Tupperware Hyacinth', 'Snooker Table', 28)
('Worthington-Smyth Henry', 'Badminton Court', 60)

In [ ]:
/* Q13: Find the facilities usage by month, but not guests */
SELECT MONTH(b.starttime), f.name, SUM( b.slots ) AS TotalSlots
FROM Facilities AS f
INNER JOIN Bookings AS b 
ON f.facid = b.facid
INNER JOIN Members AS m 
ON b.memid = m.memid
WHERE m.memid !=0 
GROUP BY f.name